{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width.device-width, initial-scale=1.0">
    <title>Hello Kitty Bakery</title>
    <link rel="stylesheet" href="{% static 'css/indexstyle.css' %}">
  </head>

  <body>

    <nav>
        <div class = "welcome-message">
            <h2>Hello Kitty Bakery</h2>
        </div> 

      <ul>
        <li style="--clr:#ff6493">
            <a href="/empleado/" data-text="&nbsp;Empleados">&nbsp;Empleados&nbsp;</a>
        </li>
         <li style="--clr:#ffdd1c">
            <a href="/cliente/" data-text="&nbsp;Clientes">&nbsp;Clientes&nbsp;</a>
        </li>
        <li style="--clr:#00dc82">
            <a href="/pastel/" data-text="&nbsp;Pasteles">&nbsp;Pasteles&nbsp;</a>
        </li>
        <li style="--clr:#00ade1">
          <a href="/orden/" data-text="&nbsp;Ordenes">&nbsp;Ordenes&nbsp;</a>
      </li>
      </ul>
    </nav>
  </body>
</html>