{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
  <div class="card mt-5">
    <div class="card-header text-center">
      <h1>Ingredientes</h1>
      <p>Informacion de los ingredientes de la pasteleria:</p> 
      <a href="{% url 'ingrediente:registro_ingrediente' %}" class="btn btn-success">Agregar Ingrediente</a> 
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Unidad de Medida</th>
          </tr>
        </thead>
        <tbody>
          {% for ingrediente in ingredientes %}
          <tr>
            <td>{{ ingrediente.id }}</td>
            <td>{{ ingrediente.nombre }}</td>
            <td>{{ ingrediente.unidad_medida }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}