{% extends 'base.html' %}
{% block body %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/ingrediente.css' %}">
</head>
<div class="container-fluid">
  <div class="card mt-5">
    <div class="card-header text-center">
      <h1>Juntas</h1>
      <p>Informacion de las juntas de la pasteleria:</p> 
      <a href="{% url 'junta:registro_junta' %}" class="btn btn-success">Agregar Junta</a> 
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Código</th>
            <th>Orden</th>
            <th>Pastelero</th>
          </tr>
        </thead>
        <tbody>
          {% for junta in juntas %}
          <tr>
            <td>{{ junta.id }}</td>
            <td>{{ junta.orden }}</td>
            <td>{{ junta.pastelero }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}