{% extends 'base.html' %}
{% block body %}
<div class="container-fluid">
  <div class="card mt-5">
    <div class="card-header text-center">
      <h1>Producciones</h1>
      <p>Informacion de las producciones de la pasteleria:</p> 
      <a href="{% url 'produccion:registro_horno' %}" class="btn btn-success">Agregar Horno</a>
      <a href="{% url 'produccion:registro_produccion' %}" class="btn btn-info">Agregar Coccion</a> 
    </div>
    <div class="card-body">
      <h2 class="text-center">Hornos</h2> 
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Código</th>
            <th>Marca</th>
            <th>Valor</th>
          </tr>
        </thead>
        <tbody>
          {% for horno in hornos %}
          <tr>
            <td>{{ horno.id }}</td>
            <td>{{ horno.marca }}</td>
            <td>{{ horno.valor }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-body">
      <h2 class="text-center">Cocciones</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Código</th>
            <th>Temperatura</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>Horno</th>
            <th>Pastelero</th>
          </tr>
        </thead>
        <tbody>
          {% for produccion in producciones %}
          <tr>
            <td>{{ produccion.id }}</td>
            <td>{{ produccion.temperatura }}</td>
            <td>{{ produccion.hora_inicio }}</td>
            <td>{{ produccion.hora_fin }}</td>
            <td>{{ produccion.horno }}</td>
            <td>{{ produccion.junta }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
