{% extends 'base.html' %}
{% block body %}
<div class="container mt-3">
  <h2>Empleados</h2>
  <p>Informacion de los empleados de la pasteleria:</p>   
  <button type="button" class="btn btn-success">Agregar Pastelero</button>
  <button type="button" class="btn btn-info">Agregar Decorador</button>         
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Código</th>
        <th>Nombre</th>
        <th>Salario</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>16584352</td>
        <td>Rosa Mesa Cabeza</td>
        <td>1.000.000$</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
