{% extends 'base.html' %}
{% block body %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/ingrediente.css' %}">
</head>
<div class="container-fluid">
  <div class="card mt-5">
    <div class="card-header text-center">
      <h1>Pasteles</h1>
      <p>Informacion de los pasteles de la pasteleria:</p> 
      <a href="{% url 'pastel:registro_pastel' %}" class="btn btn-success">Agregar Pastel</a> 
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Ingredientes</th>
            <th>Cantidades</th>
          </tr>
        </thead>
        <tbody>
          {% for pastel in pasteles %}
          <tr>
            <td>{{ pastel.id }}</td>
            <td>{{ pastel.nombre }}</td>
            <td>
              {% for nombre in pastel.ingrediente.all %}
                {{ nombre }},
              {% endfor %}
            </td>
            <td>{{ pastel.cantidad }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}