{% extends 'base.html' %}
{% block body %}
{% load static %}
<head>
  <link rel="stylesheet" href="{% static 'css/ingrediente.css' %}">
</head>
<div class="container-fluid">
  <div class="card mt-5">
    <div class="card-header text-center">
      <h1>Decoraciones</h1>
      <p>Informacion de las decoraciones de la pasteleria:</p> 
      <a href="{% url 'decoracion:registro_decoracion' %}" class="btn btn-success">Agregar Decoracion</a> 
    </div>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Código</th>
            <th>Decorador</th>
            <th>Hora Inicio</th>
            <th>Hora Fin</th>
            <th>Peso Final</th>
            <th>Orden</th>
          </tr>
        </thead>
        <tbody>
          {% for decoracion in decoraciones %}
          <tr>
            <td>{{ decoracion.id }}</td>
            <td>{{ decoracion.decorador }}</td>
            <td>{{ decoracion.hora_inicio }}</td>
            <td>{{ decoracion.hora_fin }}</td>
            <td>{{ decoracion.peso_final }}</td>
            <td>{{ decoracion.produccion.junta.orden }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}